node_modules
/dist

# Electron-builder output
/dist_electron

# env
*.env

# local env files
.env.local
.env.*.local

# test file
test.js
test/*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# old files
*_old.vue
*_old.js
*_old.ts

# deprecated
*deprecated*

# icon 
# *.png
# *.ico